* {
	margin: 0;
}

h1 {
	text-align: center;
	margin: 20px 0;
}

td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

.input-group {
	margin: 20px 0;
}

td:nth-of-type(2), td:nth-of-type(2) > div {
	height: 200px;
	width: 250px;
}